<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h2>Congratulations! you Created  Contact</h2>
      <div class="container">
          <div class="well">
              <p class="name">{{contact.first_name}}  {{contact.last_name}} </p>
              <p class=="address">{{contact.street}} {{contact.city}} {{contact.state}} {{contact.zip}}{{contact.image}}</P>
          </div>
          <a href="/"><button type="button" name="button">Home</button></a>
      </div>
  </body>
</html>
